.containerWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  margin-left: 24px;
}

.stationContainer {
  padding: 10px;
  height: 15vh;
  text-align: left;
  color: #222831;
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stationDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.stationName {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.availableBikes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.2em;
  margin-top: 10px;
  margin-top: auto;
}

.heartIcon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.stationLink {
  text-align: left;
  color: #222831;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}

.bikeCount {
  display: flex;
  align-items: flex-end;
  margin-left: 8px;
}

.bikeIcon {
  margin-left: 4px;
}

.title {
  margin: 0;
  font-size: 18px;
  font-family: 'verdana';
  font-weight: normal;
  color: #222831;
  text-decoration: none;
}

.whiteTitle {
  color: #eeeeee;
  font-family: 'verdana';
  font-weight: lighter;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.extraInfoContainer {
  background-color: #eeeeee;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(100% - 48px);
  box-sizing: border-box;
}

.extraInfoBox {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-family: 'verdana';
  font-weight: lighter;
  font-size: 11px;
  color: #393e46;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}