.whiteTitle {
    color: #eeeeee;
    font-family: 'verdana';
    font-weight: lighter;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 24px;
    margin-bottom: 24px;
  }
  
  .stationList {
    list-style: none;
    padding: 0;
    padding-bottom: 10vh;
  }
  
  .stationItem {
    background-color: #eeeeee;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .stationInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .stationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .stationName {
    margin: 0;
    font-size: 18px;
    font-family: 'verdana';
    font-weight: normal;
    color: #222831;
    text-decoration: none;
  }
  
  .removeButton {
    background: none;
    border: none;
    color: #fd7014;
    font-size: 16px;
    cursor: pointer;
  }
  
  .stationDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-family: 'verdana';
    font-weight: lighter;
    font-size: 11px;
    color: #393e46;
  }