.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1d1d1d;
  text-align: center;
  padding: 10px 0;
}

.footerLink {
  margin: 0 30px;
  text-decoration: none;
  transition: font-weight 0.3s ease; /* Transition effect for font-weight */
}

.footerLink:hover {
  font-weight: bold;
}

.footerLink.active {
  font-weight: bold;
}

.footerIcon {
  width: 30px; /* Adjust the width as needed */
  height: auto;
  max-height: 35px; /* Ensures all icons have a maximum height */
}

.footerIconMap {
  width: 30px; /* Adjust the width as needed */
  height: auto;
  max-height: 30px;
}