.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(35vw * 3 + 40px); /* Breedte van 3 stations met marges */
    overflow-x: auto; /* Horizontaal scrollen inschakelen */
  }
  
  .stationContainer {
    width: 35vw;
    height: 30vh;
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .mapContainer {
    flex: 1;
    overflow: hidden;
  }
  
  .map {
    height: 100%;
    width: 100%;
  }
  
  .stationDetails {
    padding: 10px;
    text-align: left;
    color: #222831;
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
  }
  
  .stationName {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .availableBikes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .heartIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .star {
    color: gold;
  }


  .stationLink {
    text-align: left;
    color: #222831;;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
  }