.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    padding: 10px 20px;
}

.line {
    width: 20%;
    height: 5px;
    background-color: #212121;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    padding: 10px 20px;
    padding-top: 50px;
    top: 63px;
    right: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.menu a {
    color: rgb(63, 63, 63);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}

.menu a:hover {
    background-color: #ffffff;
}

.menuOpen {
    width: 100vw; /* Breedte van het menu wanneer open */
    opacity: 1; /* Weergave van het menu wanneer open */
}

.cross .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.cross .line:nth-child(2) {
    opacity: 0;
}

.cross .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}