.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
}

.inputContainer {
    padding: 10px 20px;
}

.searchBox {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px; /* Aanpassen zoals nodig */
    height: 20px; /* Aanpassen zoals nodig */
    opacity: 0.7; /* Opacity aanpassen als gewenst */
}

.inputField {
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    color: #eeeeee;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: #fd7014 2px solid;
}

.resultsContainer {
    width: 100%;
    max-width: 800px;
    margin-top: 50px; /* Extra ruimte bovenaan */
}

.stationContainer {
    padding: 15px; /* Grotere padding voor de resultaten */
    border-bottom: 1px solid #dbdbdb; /* Grijze onderstreping */
}

.stationContainer:last-child {
    border-bottom: none; /* Geen onderstreping voor het laatste resultaat */
}

.customLink {
    display: block;
    color: #eeeeee; /* Donkere tekstkleur */
    text-decoration: none;
    font-size: 16px;
}

.customLink:hover {
    text-decoration: underline;
}

.stationInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freeBikes {
    font-weight: bold; /* Vetgedrukte tekst voor vrije fietsen */
    color: #fd7014; /* Donkere tekstkleur */
}